body {
  margin: 0;
  background: lightgrey;
  font-family: sans-serif; }

.nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #3f51b5;
  display: flex;
  height: 70px;
  top: 0px; }
  .nav__left {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav__left a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff; }
    .nav__left img {
      margin-right: 10px; }
    .nav__left span {
      font-size: 20px;
      text-transform: uppercase; }
  .nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .nav__right__menu {
      display: flex;
      align-items: center; }
      .nav__right__menu img {
        margin: 0 20px; }
      .nav__right__menu .search-input {
        position: relative; }
        .nav__right__menu .search-input > input {
          border: 1px solid rgba(255, 255, 255, 0.1);
          background: rgba(255, 255, 255, 0.1);
          color: #fff;
          padding: 6px 18px; }
        .nav__right__menu .search-input img {
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          margin-right: 0; }
    .nav__right__list ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      height: 100%; }
      .nav__right__list ul li {
        position: relative;
        display: inline-block;
        padding: 0 12px;
        line-height: 70px; }
      .nav__right__list ul a {
        display: block; }
        .nav__right__list ul a img {
          overflow: hidden;
          vertical-align: middle; }
      .nav__right__list ul .img-circle {
        height: 36px;
        width: 36px;
        border-radius: 50%; }

.sidenav {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 70px;
  width: 240px;
  height: 100%;
  background: #fff; }
  .sidenav a {
    display: block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    border: 0px solid black; }
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    background-color: white; }
    .sidenav ul li a {
      vertical-align: middle;
      justify-content: center;
      color: #000;
      padding: 8px 16px;
      text-decoration: none; }
      .sidenav ul li a:hover {
        color: black;
        background-color: #f0f0f0;
        border-left: 3px solid blue;
        margin-bottom: -3px; }
      .sidenav ul li a img {
        vertical-align: middle; }
      .sidenav ul li a span {
        vertical-align: middle; }
  .sidenav img {
    margin-right: 10px; }
  .sidenav h5 {
    padding: 0px 8px;
    margin-top: 30px;
    margin-bottom: 15px; }

.main {
  position: relative;
  background-color: lightgrey;
  margin-top: 70px;
  margin-left: 240px;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  padding-bottom: 4rem; }
  .main__flexcontainer1 {
    display: flex;
    background-color: lightgrey;
    height: 110px;
    padding-left: 8px;
    padding-right: 8px; }
    .main__flexcontainer1 .box {
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
      background-color: white;
      margin: 8px;
      margin-top: 0px;
      display: flex;
      align-items: center; }
      .main__flexcontainer1 .box .imgbox img {
        height: 85px;
        width: 85px;
        border-radius: 50%; }
      .main__flexcontainer1 .box .contentbox {
        text-align: right;
        flex: 100%;
        padding-right: 10px; }
        .main__flexcontainer1 .box .contentbox h4 {
          font-size: 18px;
          margin: 0px; }
        .main__flexcontainer1 .box .contentbox p {
          font-size: 12px;
          margin-top: 5px;
          margin-bottom: 5px; }
  .main__flexcontainer2 {
    display: flex;
    height: 300px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: lightgrey; }
    .main__flexcontainer2 > div {
      width: 33%;
      max-width: 33%;
      background-color: white;
      margin: 8px; }
    .main__flexcontainer2 h4 {
      font-size: 15px;
      text-transform: uppercase;
      margin-top: 10px;
      margin-left: 10px; }
  .main__flexcontainer3 {
    display: flex;
    height: 350px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: lightgrey; }
    .main__flexcontainer3__left {
      position: relative;
      background: white;
      width: 67%;
      max-width: 67%;
      margin: 8px; }
      .main__flexcontainer3__left p {
        font-size: 14px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px; }
      .main__flexcontainer3__left h4 {
        font-size: 15px;
        text-transform: uppercase;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 0px; }
      .main__flexcontainer3__left table {
        padding-left: 20px;
        width: 100%;
        max-height: 100%;
        height: 270px;
        text-align: left; }
        .main__flexcontainer3__left table th {
          font-size: 16px; }
        .main__flexcontainer3__left table td {
          font-size: 14px; }
    .main__flexcontainer3__right {
      background: lightgrey;
      display: flex;
      flex-direction: column;
      width: 33%;
      max-width: 33%;
      margin: 8px; }
      .main__flexcontainer3__right .box2 {
        display: flex;
        flex-grow: 1;
        background-color: white;
        padding-left: 8px;
        margin-top: 0px;
        margin-bottom: 16px;
        align-items: center; }
        .main__flexcontainer3__right .box2 .imgbox2 {
          height: 75.5px; }
          .main__flexcontainer3__right .box2 .imgbox2 .img-circle {
            height: 75.5px;
            width: 75.5px;
            border-radius: 50%; }
        .main__flexcontainer3__right .box2 .contentbox {
          margin-left: 20px; }
          .main__flexcontainer3__right .box2 .contentbox h4 {
            margin: 0px; }
          .main__flexcontainer3__right .box2 .contentbox p {
            margin-top: 5px;
            margin-bottom: 5px; }
          .main__flexcontainer3__right .box2 .contentbox h3 {
            font-size: 16px;
            margin: 0px;
            padding: 0px;
            color: red; }
  .main h3 {
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 29.5px;
    padding-left: 15px; }
  .main footer {
    position: absolute;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px; }
    .main footer h5 {
      padding-left: 20px;
      margin: auto; }

@media (min-width: 600px) {
  body {
    background: red; } }

