<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="assets/styles/app.css">
</head>
<body>
    {{> partials/nav }}
    {{> partials/sidenav }}
    
    <main data-sidenav class="main sidenav-hide">
        <h3>Welcome!</h3>
        <div class="main__flexcontainer1">
            <div class="box">
                <div class="imgbox">
                    <img src="assets/images/radio_button_unchecked-24px.svg" alt="Icon">
                </div>
                <div class="contentbox">
                    <h4>64,570</h4>
                    <p>Today's Visits</p>
                </div>
            </div>
            <div class="box">
                <div class="imgbox">
                    <img src="assets/images/radio_button_unchecked-24px.svg" alt="Icon">
                </div>
                <div class="contentbox">
                    <h4>31.570</h4>
                    <p>Total revenue</p>
                </div>
            </div>
            <div class="box">
                <div class="imgbox">
                    <img src="assets/images/radio_button_unchecked-24px.svg" alt="Icon">
                </div>
                <div class="contentbox">
                    <h4>280</h4>
                    <p>Today's sales</p>
                </div>
            </div>
            <div class="box">
                <div class="imgbox">
                    <img src="assets/images/radio_button_unchecked-24px.svg" alt="Icon">
                </div>
                <div class="contentbox">
                    <h4>0.16%</h4>
                    <p>Conversion</p>
                </div>
            </div>
        </div>
        <div class="main__flexcontainer2">
            <div><h4>YEARLY SALES REPORT</h4></div>
            <div><h4>TOTAL REVENUE</h4></div>
            <div><h4>TOTAL REVENUE</h4></div> 
        </div>
        <div class="main__flexcontainer3">
            <div class="main__flexcontainer3__left">
                <table>
                    <h4>LATEST PROJECTS</h4>
                    <p>Your awesome text goes here.</p>
                    <thead>
                        <tr>
                            <th width="50">#</th>
                            <th>Project name</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th>Assign</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="50">1</td>
                            <td>Minton Admin v1</td>
                            <td>01/01/2016</td>
                            <td>26/04/2016</td>
                            <td>Released</td>
                            <td>Coder</td>
                        </tr>
                        <tr>
                            <td width="50">2</td>
                            <td>Minton Frontend v1</td>
                            <td>01/01/2016</td>
                            <td>26/04/2016</td>
                            <td>Released</td>
                            <td>Minton admin</td>
                        </tr>
                        <tr>
                            <td width="50">3</td>
                            <td>Minton Admin v1.1</td>
                            <td>01/05/2016</td>
                            <td>10/05/2016</td>
                            <td>Pending</td>
                            <td>Coder</td>
                        </tr>
                        <tr>
                            <td width="50">4</td>
                            <td>Minton Frontend v1.1</td>
                            <td>01/01/2016</td>
                            <td>31/05/2016</td>
                            <td>Work in Progress</td>
                            <td>Minton admin</td>
                        </tr>
                        <tr>
                            <td width="50">5</td>
                            <td>Minton Admin v1.3</td>
                            <td>01/01/2016</td>
                            <td>31/05/2016</td>
                            <td>Coming soon</td>
                            <td>Coder</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="main__flexcontainer3__right">
                <div class="box2">
                    <div class="imgbox2">
                        <img class="img-circle" src="assets/images/portrait1.jpg" alt="Meniu">
                    </div>
                    <div class="contentbox">
                        <h4>Username</h4>
                        <p>Email@gmail.com</p>
                        <b class="color-guest">Admin</b>
                    </div>
                </div>
                <div class="box2">
                    <div class="imgbox2">
                        <img class="img-circle" src="assets/images/portrait2.jpg" alt="Meniu">
                    </div>
                    <div class="contentbox">
                        <h4>Username</h4>
                        <p>Email@gmail.com</p>
                        <b class="color-admin">Admin</b>
                    </div>
                </div>
                <div class="box2">
                    <div class="imgbox2">
                        <img class="img-circle" src="assets/images/portrait3.jpg" alt="Meniu">
                    </div>
                    <div class="contentbox">
                        <h4>Username</h4>
                        <p>Email@gmail.com</p>
                        <b class="color-user">User</b>
                    </div>
                </div>
            </div>
        </div>
        <footer><h5>2017 &copy; Copyright </h5></footer>
    </main> 
</body>
</html>