body {
    margin: 0;
    background: lightgray;
    position: absolute;
}
.nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #3f51b5;
    display: flex;
    height: 70px;
}
.nav__left {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__left a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.nav__left img {
    margin-right: 10px;
}
.nav__left span {
    font-size: 20px;
    text-transform: uppercase;
}

.nav__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav__right__menu {
    display: flex;
    align-items: center;
}
.nav__right__menu img {
    margin: 0 20px;
}
.nav__right__menu .search-input {
    position: relative;
}
.search-input > input {
    border: 1px solid rgba(255,255,255,0.1);
    background: rgba(255,255,255,0.1);
    color: #fff;
    padding: 6px 18px;
}
.search-input img {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0;
}
.nav__right__list ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}
.nav__right__list ul li {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    line-height: 70px;
}
.nav__right__list ul li a {
    display: block;
}
.nav__right__list ul li a img {
    overflow: hidden;
    vertical-align: middle;
}
.nav__right__list ul li a .img-circle {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.sidenav {
    background-color: white;
    position: absolute;
    margin-top: 70px;
    width: 200px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sidenav a{
    display: block;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    border: 0px solid black;
}

.sidenav ul{
    list-style-type: none;
    padding: 0;
    background-color: white;
}

.sidenav li a {
    display: block;
    vertical-align: middle;
    justify-content: center;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

 .sidenav li a:hover {
    color: black;
    background-color: rgb(240,240,240);
    border-left: 3px solid blue;
    margin-bottom: -3px;
  }

.sidenav img {
    margin-right: 10px;
}

.sidenav h5{
    padding: 0px 8px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.sidenav li a img {
    vertical-align: middle;
}

.sidenav li a span {
    vertical-align: middle;
}

.main {
    background-color: pink;
    position: fixed;
    margin-top: 70px;
    margin-left: 200px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main__flexcontainer1 {
    display: flex;
    background-color: orange;
}

.main__flexcontainer1 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;{

}